basic_auth_users:
  monitor: '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi'  # password: 'password'

tls_server_config:
  cert_file: /etc/ssl/certs/ssl-cert-snakeoil.pem
  key_file: /etc/ssl/private/ssl-cert-snakeoil.key
